.App {
  text-align: center;
}

.map-container {
  min-width: 310px; 
  max-width: 500px; 
  margin: 0 auto;
  padding: 0pt 0pt 0pt 0pt; 
}

.chart-container {
  min-width: 310px; 
  max-width: 1000px; 
  margin: 0 auto; 
  padding: 0pt 0pt 30pt 0pt;
}

.chart-checkbx-useAvg {
  text-align: left;
  margin: 0 0 3px 10px;
}

.linkswitch-container {
  text-align: left;
}

.linkswitch-button {
  padding: 0pt 10pt;
}


.statistics-grid-container {
  min-width: 310px; 
  max-width: 1000px; 
  margin: 0 auto; 
}

.selected-region-grid {
  width: 100%;
  border: 1px solid #dee2e6;
  border-collapse: collapse;
}

.selected-region-grid td {
  border: 1px solid #dee2e6;
}

.selected-region-grid th {
  border: 1px solid #dee2e6;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
